:root {

    // Blue
    --blue-01: #4318FF;
    --blue-01-o5: rgba(67, 24, 255, 0.8);

    // White
    --white-01: #ffffff;

        // Gray
    --gray-01: #646464;
    --gray-02: #f2f2f2;
    --pagination-active-bg: var(--chakra-colors-purple-400);
    --pagination-color: var(--chakra-colors-purple-400);
   --pagination-hover-color: var(--chakra-colors-purple-300);
   --pagination-disabled-color: #d4d4d4;
}